<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="/product/index" th:object="${item}" style="width: 100%;">
    <div>
        <label>Id:</label>
        <input th:field="*{id}" readonly placeholder="Product Id?"/>
    </div>
    <div>
        <label>Name:</label>
        <input th:field="*{name}" placeholder="Product Name?"/>
    </div>
    <div>
        <label>Price:</label>
        <input type="number" step="0.01" th:field="*{price}" placeholder="Product Price?"/>
    </div>
    <div>
        <label>Create Date:</label>
        <input type="date" th:field="*{createDate}"/>
    </div>
    <div>
        <label>Category:</label>
        <select th:field="*{category}">
            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
        </select>
    </div>
    <div>
        <input type="checkbox" th:field="*{available}"/>
        <label>Available?</label>
    </div>

    <hr>

    <button formaction="/product/create">Create</button>
    <button formaction="/product/update">Update</button>
    <a th:href="@{|/product/delete/${item.id}|}">Delete</a>
    <a href="/product/index">Reset</a>
</form>
</body>
</html>